<div class="nowPlayingBackground"></div>

<div class="flex-auto flex justify-center items-center">
  <div class="nowPlaying center">
    <%= image_tag(@now_playing.responses['artwork_url'].to_s.gsub('large','t500x500'), class: "nowPlayingAlbumArt") %>
    <div class="progressBar">
      <div class="progress" style="width: 0"></div>
      <audio src="/demo.mp3" class="player hide"></audio>
    </div>
    <div class="flex justify-between opacity" style=";margin-top:.25rem">
      <div class="h6 current-time">00:00:00</div>
      <div class="h6 progress-bar">00:00:00</div>
      <div class="h6 duration-time">00:00:00</div>
    </div>
    <h1><%= @now_playing.responses['title'] %></h1>
    <h2 class="opacity"><%= @now_playing.responses['user']['username'] %></h2>
    <div class="actions flex items-center justify-center">
      <a class="btn btnLike" href="#"></a>
      <a class="btn btnPlay" href="#"></a>
      <a class="btn btnFf" href="#"></a>
    </div>
  </div>
</div>

<div class="onDeck p2 flex-none">
  <%= render 'comments/new', message: @message %>
  <div class="h6 opacity" style="margin:1rem 0;font-weight:700;text-transform:uppercase">On deck:</div>
  <ul class="list-reset onDeckSongs">
    <%= render 'comments/comments', message: @message %>
  </ul>
</div>

<script>
  var player;
  player = new MediaElementPlayer('audio', {features: [], alwaysShowControls: false, enableKeyboard: true});
  player.setSrc('<%= @now_playing.responses['stream_url'].to_s + '?client_id=b59d1f4b68bbc8f2b0064188f210117d' %>');
  player.load();
  player.play();
  player.media.addEventListener('timeupdate', function(e) {
      $('.current-time').text(String(player.media.currentTime).toHHMMSS());
      $('.duration-time').text(String(player.media.duration).toHHMMSS());
      $('.progressBar').css("width", Math.floor((player.media.currentTime / player.media.duration) * 100));
  }, false);
  $('.btnPlay').click(function() {
    if (player.media.paused) {
      player.play();
    } else {
      player.pause();
    }
  });
</script>
