<link rel="stylesheet" class="js-palette" href="<%= image_url(@now_playing.responses['artwork_url'].to_s.gsub('large','t500x500').gsub('https://i1.sndcdn.com', 'https://tumtable.imgix.net') + '?colorquant=2&palette=css&colors=2&class=album&zoom=100') %>">

<div class="nowPlayingBackground js-nowPlayingBackground" style="background-image: url(<%= image_url(@now_playing.responses['artwork_url'].to_s.gsub('large','t500x500').gsub('https://i1.sndcdn.com', 'https://tumtable.imgix.net') + '?blur=200') %>)"></div>

<div class="flex-auto flex justify-center items-center">
  <div class="nowPlaying center">
    <div class="atvImg nowPlayingAlbumArt">
      <div class="atvImg-layer" data-img="<%= image_url(@now_playing.responses['artwork_url'].to_s.gsub('large','t500x500')) %>"></div>
    </div>
    <div class="progressBar">
      <div class="progress album-bg-1" style="width: 0"></div>
      <audio src="/demo.mp3" class="player hide"></audio>
    </div>
    <div class="flex justify-between opacity" style=";margin-top:.25rem">
      <div class="h6 current-time">&nbsp;</div>
      <div class="h6 duration-time">&nbsp;</div>
    </div>
    <h1><%= @now_playing.responses['title'] %></h1>
    <h2 class="opacity"><%= @now_playing.responses['user']['username'] %></h2>
    <div class="actions flex items-center justify-center">
      <a class="btn btnLike"></a>
      <a class="btn btnPlay"></a>
      <a class="btn btnFf"></a>
    </div>
  </div>
</div>
<audio src="/demo.mp3" class="player"></audio>

<div class="onDeck flex-none">
  <%= render 'comments/new', message: @message %>
  <div class="h6 px2 opacity" style="margin:1rem 0;font-weight:700;text-transform:uppercase">On deck:</div>
  <ul class="list-reset onDeckSongs px2">
    <% @comments.each do |comment| %>
      <% @comment = comment %>
      <%= render 'comments/comment', comment: @comment %>
    <% end %>
  </ul>
</div>

<script>
  atvImg();
  var player;
  player = new MediaElementPlayer('audio', {features: [], alwaysShowControls: false, enableKeyboard: true});
  player.setSrc('<%= @now_playing.responses['stream_url'].to_s + '?client_id=b59d1f4b68bbc8f2b0064188f210117d' %>');
  player.load();
  player.setCurrentTime(<%= (Time.now.utc - @now_playing.aired_at).to_i %>);
  player.play();
  player.media.addEventListener('timeupdate', function(e) {
      $('.current-time').text(String(player.media.currentTime).toHHMMSS());
      $('.duration-time').text(String(player.media.duration).toHHMMSS());
      $('.progress').css("width", String(Math.floor((player.media.currentTime / player.media.duration) * 100)) + '%');
  }, false);
  $('.btnPlay').click(function() {
    if (player.media.paused) {
      player.play();
    } else {
      player.pause();
    }
  });

  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var pusher = new Pusher('28b57a0348c8e7d03367', {
    encrypted: true
  });

  var channel = pusher.subscribe('message_<%= @message.id %>');

  channel.bind('on_deck', function(data) {
    $('.onDeckSongs').prepend(data.message);
  });
  channel.bind('now_playing', function(data) {
    // Replace current playing info
    $('.onDeck li:last-child').remove();
    $('.nowPlaying h1').text(data.title);
    $('.nowPlaying h2').text(data.artist);
    $('.atvImg-rendered-layer').css('background-image', 'url(' + data.artwork_url + ')');
    $('.js-nowPlayingBackground').css('background-image', 'url(' + data.artwork_url.to_s.gsub('large','t500x500').gsub('https://i1.sndcdn.com', 'https://tumtable.imgix.net') + '?blur=200' + ')');
    $('.js-palette').attr('href', data.artwork_url.to_s.gsub('large','t500x500').gsub('https://i1.sndcdn.com', 'https://tumtable.imgix.net') + '?colorquant=2&palette=css&colors=2&class=album&zoom=100');
    // Drop that track
    player.pause();
    player.setSrc(data.stream_url);
    player.load();
    player.play();
  });
</script>
