<link rel="stylesheet" class="js-palette" href="<%= @now_playing.palette_url %>">

<div class="nowPlayingBackground js-nowPlayingBackground" style="background-image: url(<%= @now_playing.blurred_album_art_url %>)"></div>

<div class="flex-auto flex justify-center items-center">
  <div class="nowPlaying center">
    <div class="atvImg nowPlayingAlbumArt">
      <div class="atvImg-layer" data-img="<%= @now_playing.album_art_url %>"></div>
    </div>
    <div class="progressBar js-bgcheck background">
      <div class="progress album-bg-1" style="width: 0"></div>
    </div>
    <div class="flex justify-between opacity" style=";margin-top:.25rem">
      <div class="h6 current-time js-bgcheck text">&nbsp;</div>
      <div class="h6 duration-time js-bgcheck text">&nbsp;</div>
    </div>
    <span class="js-bgcheck text">
      <h1><%= @now_playing.responses['title'] %></h1>
      <h2 class="opacity"><%= @now_playing.responses['user']['username'] %></h2>
    </span>
    <div class="actions flex items-center justify-center js-bgcheck svg">
      <a class="btn btnLike stroke">
        <svg width="31" height="28" viewBox="0 0 31 28" xmlns="http://www.w3.org/2000/svg"><path d="M14.886 5.847C13.82 3.577 11.473 2 8.75 2 5.022 2 2 4.955 2 8.6c0 .14.004.28.013.417A8.45 8.45 0 0 0 2 9.5C2 15.712 14.51 26 15.5 26 15.677 26 29 16.033 29 9.5c0-.152-.006-.297-.016-.435.01-.154.016-.31.016-.465C29 4.955 25.978 2 22.25 2c-2.723 0-5.07 1.576-6.136 3.847V5.6h-1.228v.247z" stroke="#000" stroke-width="1.5" fill="none" fill-rule="evenodd"/></svg>
      </a>
      <a class="btn btnPlayPause">
        <svg viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
             <path id="ytp-12" d="M 11 10 L 17 10 L 17 26 L 11 26 M 20 10 L 26 10 L 26 26 L 20 26">
                <animate id="animation" begin="indefinite" attributeType="XML" attributeName="d" fill="freeze" from="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26" to="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28" dur="0.1s" keySplines=".4 0 1 1"
                repeatCount="1"></animate>
             </path>
          </defs>
          <use xlink:href="#ytp-12" class="ytp-svg-fill"></use>
       </svg>
      </a>
      <a class="btn btnFf">
        <svg width="41" height="27" viewBox="0 0 41 27" xmlns="http://www.w3.org/2000/svg"><path d="M20.492 13.707c-.062.23-.226.447-.49.624L1.25 26.795c-.693.46-1.25.16-1.25-.668V.874C0 .046.56-.253 1.25.206L20 12.67c.267.176.43.395.492.623V.873c0-.827.56-1.126 1.25-.667l18.75 12.463c.693.46.69 1.202 0 1.66l-18.75 12.464c-.693.46-1.25.16-1.25-.668v-12.42z" fill="#000" fill-rule="evenodd"/></svg>
      </a>
    </div>
  </div>
</div>
<div class="hide"><audio src="/0.mp3" class="player hide"></audio></div>

<div class="onDeck flex-none">
  <div class="m2">
    <%= render 'comments/new', message: @message %>
  </div>

  <div class="m2 flex justify-between">
    <div class="h6 opacity" style="font-weight:700;text-transform:uppercase">Online now</div>
    <% if @current_user %>
      <%= link_to "#{@current_user.soundcloud_response['full_name'] || @current_user.soundcloud_response['username']} ▾", session_path, class: 'h6 opacity', style: 'text-decoration:none; font-weight:700', method: :delete %>
    <% end %>
  </div>
  <div class="usersInRoomWrapper">
    <div class="usersInRoom pl2">
    </div>
  </div>

  <div class="m2 flex justify-between">
    <div class="h6 opacity" style="font-weight:700;text-transform:uppercase">
      <%= link_to 'On Deck', controller: 'messages', action: 'backfill', remote: true  %>
    </div>
    <%= link_to "#{@message.title} ▾", messages_path, class: 'h6 opacity', style: 'text-decoration:none; font-weight:700' %>
  </div>
  <ul class="list-reset m0 onDeckSongs px2">
    <% @comments.each do |comment| %>
      <% @comment = comment %>
      <%= render 'comments/comment', comment: @comment %>
    <% end %>
  </ul>
  <div class="toastSongNotification">Song added to queue</div>
</div>

<script>
  atvImg();
  var player;
  player = new MediaElementPlayer('audio', {features: [], alwaysShowControls: false, enableKeyboard: true});
  player.setSrc('<%= @now_playing.responses['stream_url'].to_s + '?client_id=b59d1f4b68bbc8f2b0064188f210117d' %>');
  player.load();
  player.setCurrentTime(<%= @now_playing.aired_at ? (Time.now.utc - @now_playing.aired_at).to_i : 0 %>);
  player.play();
  player.media.addEventListener('timeupdate', function(e) {
      $('.current-time').text(String(player.media.currentTime).toHHMMSS());
      $('.duration-time').text(String(player.media.duration).toHHMMSS());
      $('.progress').css("width", String(Math.floor((player.media.currentTime / player.media.duration) * 100)) + '%');
  }, false);

  document.title = "<%= @now_playing.responses['title'] + " - " + @now_playing.responses['user']['username'] %>";

  BackgroundCheck.init({
    targets: '.js-bgcheck',
    images: '.js-nowPlayingBackground'
  });

  var flip = true;
  function muteOrUnmute() {
    if($("audio").prop('muted')) {
      if (player.media.paused) {
        player.play();
      }
      $("audio").prop('muted', false); //mute
    } else {
      $("audio").prop('muted', true); //mute
    }
    pause = "M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28",
    play = "M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26",
    $animation = $('#animation');
    flip = !flip;
    $animation.attr({
      "from": flip ? pause : play,
      "to": flip ? play : pause
    }).get(0).beginElement();
  }

  $('.btnPlayPause').click(function() {
    muteOrUnmute();
  });

  var pusher = new Pusher('<%= ENV['PUSHER_KEY'] %>', {
    encrypted: true,
    authEndpoint: '/pusher/auth',
    channel_name: '1',
    auth: {
      headers: {
        'X-CSRF-Token': '<%= form_authenticity_token %>'
      }
    }
  });

  var channel = pusher.subscribe('message_<%= @message.id %>');

  channel.bind('on_deck', function(data) {
    $('.onDeckSongs').append(data.message);
  });
  channel.bind('remove_on_deck', function(data) {
    $('*[data-comment-id=' + data.id + ']').remove();
  });
  channel.bind('now_playing', function(data) {
    // Replace current playing info
    $('.onDeckSongs li:first-child').remove();
    $('.nowPlaying h1').text(data.title);
    $('.nowPlaying h2').text(data.artist);
    $('.atvImg-rendered-layer').css('background-image', 'url(' + data.artwork_url + ')');
    $('.js-nowPlayingBackground').css('background-image', 'url(' + data.background_url  + ')');
    $('.js-palette').attr('href', data.palette_url);
    document.title = data.title + " - " + data.artist;

    BackgroundCheck.refresh();

    // Drop that track
    player.pause();
    player.setSrc(data.stream_url);
    player.load();
    player.play();
    // Refresh background
    BackgroundCheck.refresh();
  });

  var presenceChannel = pusher.subscribe('presence-<%= @message.id %>');
  var count = presenceChannel.members.count;
  presenceChannel.bind('pusher:subscription_succeeded', function(members) {
    members.each(function(member) {
      $('.usersInRoom').append('<img src="' + member.info['avatar_url'] + '" data-member-id="' + member.id + '">');
    });
  })
  presenceChannel.bind('pusher:member_added', function(member) {
    //add_member(member.id, member.info);
    $('.usersInRoom').append('<img src="' + member.info['avatar_url'] + '" data-member-id="' + member.id + '">');
  });
  presenceChannel.bind('pusher:member_removed', function(member) {
    //add_member(member.id, member.info);
    $('*[data-member-id=' + member.id + ']').remove();
  });

</script>
