<article data-user-id="<%= comment.user.id %>">
  <h3>Posted by <%= comment.user.name %></h3>
  <p><%= comment.responses['title'] %></p>
  <img src="<%= comment.responses['artwork_url'] %>">
  <script>
    player.pause();
    player.setSrc('<%= comment.responses['stream_url'].to_s + '?client_id=b59d1f4b68bbc8f2b0064188f210117d' %>');
    player.load();
    player.play();
  </script>
</article>
