<!DOCTYPE html>
<html>
<head>
  <title>Action Cable Examples</title>
  <%= action_cable_meta_tag %>
  <link href="//npmcdn.com/basscss@8.0.0-beta5/css/basscss.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
  <script src="/mediaplayer/mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="/mediaplayer/mediaelementplayer.css" /></code>
  <meta name="current-user" id="<%= @current_user.try(:id) %>">
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
</head>
<body class="m0 flex">

<%= yield %>

</body>
</html>
